<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
    {% block head_block %}
        
    {% endblock %}

</head>
<body>
      <!-- Add navbar here -->
    <div class="nav-container">
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Econet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class=" collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">

                <li class="nav-item ">
                    {% if user.is_authenticated %}
                    <a class="nav-link join-btn mx-auto" href="/logout">Log out</a>
                    {% else %}
                    <a class="nav-link  mx-auto" href="/dashboard">Dashboard</a>
                    {% endif %}
                </li>
                
            </ul>
            
            </div>
        </nav>
        
    </div>
    
    {% block body_block %}
   
    {% endblock %}

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>