{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <style>
        .landing{
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            z-index: 100000;
            background-color: #000;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/post.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
{% endblock %}

{% block body_block %}
    {% if isLoggedin == False %}
        {% include 'landing.html' %}
    {% endif %}

    <div id="new-post-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form method="POST" action="/new">
                {% csrf_token %}
                <p><input id="post-image-file" accept="image/gif, image/jpeg, image/png" type="file" name="post-image-file"></p>
                <p><img id="post-image" /></p>
                <label for="post-task">Choose a task:</label>
                <select id="post-task" name="post-task" name="post-task">
                    {% for task in alltasks %}
                    <option value="{{task.id}}">{{task}}</option>
                    {% endfor %}
                </select>
                <p><textarea id="post-caption" placeholder="Caption" name="post-caption" ></textarea></p>
                <p class="post-image-status"></p>
                <button class="post-btn" type="submit">POST</button>
            </form>
          </div>
        </div>
      </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-div mt-4">
                    <div class="pic-div">
                        <img src="{% static 'images/profile.png' %}" class="feed-pic" />
                    </div>
                    <div class="profile-details">
                        <p class="username">Shwetal</p>
                        <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </div>
                </div>
                <div class="trending-tags mt-4">
                    <p class="trending-tag-head">Trending Tags</p>
                    <p class="tag"><strong>#</strong> Social Work</p>
                    <p class="tag"><strong>#</strong> Book Donation</p>
                    <p class="tag"><strong>#</strong> Environment</p>
                    <p class="tag"><strong>#</strong> Reuse</p>
                </div>
            </div>
            <div class="col-12 col-md-6 mx-auto mt-4">
                <span class="create-span">
                    <img src="{% static 'images/profile.png' %}" class="create-profile-pic" />
                    <button class="btn btn-new-post text-center" data-toggle="modal" data-target="#new-post-modal">Create New Post</button>
                </span>
                {% for post in posts %}
                    {% include 'post.html' %}
                {% endfor %}
            </div>
            <div class="col-md-3">
                
                <div class="weekly-task mt-4">
                    <div class="week-task-head">This week's task</div>
                    <div class="task-details">
                        <p class="task-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta doloremque non quisquam obcaecati maiores magnam temporibus 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}