{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/post.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
{% endblock %}

{% block body_block %}
    {% if isLoggedin == False %}
        {% include 'landing.html' %}
    {% endif %}

    <div id="new-post-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form method="POST" action="/new">
                {% csrf_token %}
                <p><input id="post-image-file" accept="image/gif, image/jpeg, image/png" type="file" name="post-image-file" onchange="loadPostImage(event)"></p>
                <p><img id="post-image" /></p>
                <label for="post-task">Choose a task:</label>
                <select id="post-task" name="post-task" name="post-task">
                    {% for task in alltasks %}
                    <option value="{{task.id}}">{{task}}</option>
                    {% endfor %}
                </select>
                <p><textarea id="post-caption" placeholder="Caption" name="post-caption" ></textarea>
                <button class="btn" type="submit">POST</button>
            </form>
          </div>
        </div>
      </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <button class="btn btn-new-post text-center" data-toggle="modal" data-target="#new-post-modal">Create New Post</button>
                {% for post in posts %}
                    {% include 'post.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}