<div className="body text-center">
    <header>
        <img src="{% static 'images/econet.jpg' %}" class="hero-img" alt="vaccination"/>
        <section class="hero-text">
            <h1 class="welcome-head">Welcome to Econet</h1>
            <p class="welcome-text">Securely record and access administered COVID-19 vaccinations</p>
            <span>
                <Link to="/patient_reg" class="btn patient">Patient</Link>
                <Link to="/doctor_login" class="btn doctor">Medical Staff</Link>
            </span>
        </section>
    </header>    
</div>