{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block body_block %}
<!-- <h1>hello</h1> -->
<div class="landing text-center">
    <img src="{% static 'images/econet.jpg' %}" class="hero-img" alt="econet"/>
    <div class="login-box">
        <h2>Login</h2>
        <form method="POST" action="/auth/login">
          {% csrf_token %}
          <div class="user-box" id="username">
            <input type="text" name="username" required />
            <label>Username</label>
          </div>
          <div class="user-box" id="password">
            <input type="password" name="password" required />
            <label>Password</label>
          </div>

          <input type="submit" class="btn-submit" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </input>
        </form>
      </div>
    
</div>
{% endblock %}
