{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{% static 'js/register.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block body_block %}
<!-- <h1>hello</h1> -->
<div class="landing text-center">
    <img src="{% static 'images/econet.jpg' %}" class="hero-img" alt="econet"/>
    <div class="login-box">
        <h2>Register</h2>
        <form method="POST" action="/auth/register" onsubmit="return validate()">
          {% csrf_token %}
          <div class="user-box" id="username">
            <input type="text" id="input-username" name="username" required />
            <label>Username</label>
          </div>
          <div class="user-box" id="password">
            <input type="password" id="input-password" name="password" required />
            <label>Password</label>
          </div>
          <div class="user-box" id="password-confirm">
            <input type="password" id="input-confirm-password" required />
            <label>Confirm Password</label>
          </div>
          <p id="warning">{{error}}</p>
          <button type="submit" class="btn btn-success">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </button>
        </form>
      </div>
    
</div>
{% endblock %}
