.taskstype{
    width: max-content;
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.taskinfoholder{
    margin-right: 50px;
    z-index: 1;
    background: #EBEBEB;
    border-radius: 1rem;
    padding: 5px;
    -webkit-box-shadow: 3px 3px 3px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 3px 5px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 3px 5px #ccc;
    transition: 0.2s;
}

.post-user{
    font-size: 20px;
    color: rgb(0, 10, 4);
    font-weight: 600;
}

.taskname{
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 16px;
    text-align: center;
}

.taskworthpoint{
    font-size: 20px;
    text-align: center;
}   

.postcaption{
    white-space: normal;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 5px;
}
 
.taskholder{
    display: flex;
    place-items: center;
    overflow: hidden;
    margin: 0;
}
  
  .taskpostsholder{
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 30px ;
  }
  
  .taskpostholder{
    width: 300px;
    z-index: 1;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    -webkit-box-shadow: 3px 3px 3px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 3px 5px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 3px 5px #ccc;
    transition: 0.2s;
  }
  
  .postimage{
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .taskpostholder:not(:first-child) {
    margin-left: calc(4rem*-1);
  }
  
  .taskpostholder:hover,
  .taskpostholder:focus-within {
    transform: translatey(-1rem);
  }
  
  .taskpostholder:hover ~ .taskpostholder,
  .taskpostholder:focus-within ~ .taskpostholder{
    transform: translatex(4rem);
  }

  .post-image{
      width: 30px;
      height: 30px;
  }
  
  