[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bootstrap4 = "*"
whitenoise = "*"
gunicorn = "*"
django-bootstrap4 = "*"
djongo = "*"
dnspython = "*"
requests = "*"
pytezos = "2.5.15"

[dev-packages]

[requires]
python_version = "3.9"
