@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #2e2d2d;
}

.cover {
  height: 200px;
  background-image: linear-gradient(
    to right bottom,
    rgba(128, 214, 113, 0.8),
    rgba(53, 175, 16, 0.8)
  );
}

.profile-details{
    text-align: center;
}
.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.pic-div{
    text-align: center;
}
.pencil-div{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 30%;
    top: 42%;
}
.div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-badge{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: rgb(243, 243, 76);
    width: 100px;
    padding: 5px;
}
.profile-name{
    font-size: 30px;
}
.user-bio{
    font-size: 14px;
    margin-bottom: 10px;
}
.edit-bio{
    border: 1px solid rgb(82, 80, 80);
    padding: 5px 10px;
    margin-right: 10px;
}
.user-joined{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
#left {
  margin-top: -150px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
}

#user .fa {
  font-size: 20px;
}

#user .row {
  width: auto;
}

.content {
  max-width: auto;
  margin: 0 auto;
}

.content .social-description {
  display: inline-block;
  max-width: 150px;
  width: 145px;
  text-align: center;
  margin: 15px 0 0px;
}

.content .social-description h2 {
  margin-bottom: 15px;
}

hr{
    height: 5px;
}

.contri{
    font-size: 20px;
    color: #333333;
    font-weight: 800;
}

h2{
    font-size: 30px;
    font-weight: 600;
}

#change-profile-image-button{
    margin-top: 30px;
}
#change-profile-image{
    margin-bottom: 30px;
}
.modal-content{
    padding: 20px 20px;
}
#change-bio-text{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    outline: none;
}
#change-bio-text:focus{
    border: 1px solid transparent;
    outline: none;
}
