{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/task.css' %}" />
<script src="{% static 'js/task.js' %}"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
{% endblock %}

{% block body_block %}
    <!-- <div id="post-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                ...
            </div>
        </div>
    </div> -->

    <div class="taskstype">Weekly</div>
    <div class="container">
        <div class="row">
            <div class="tasksholder">
                {% for task in weeklyTasks %}
                    <div class="taskholder">
                        <div class="col-md-4">
                            <div class="taskinfoholder">
                                <div class="taskname">
                                    {{task.name}}
                                </div>
                                <div class="taskworthpoint">
                                    {{task.worthPoints}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="taskpostsholder">
                                {% for post in task.posts.all %}
                                    <div class="taskpostholder" post-id="{{post.id}}">
                                        <img src="{{post.author.imageURL}}" class="post-image" />
                                        <span class="post-user">{{post.author.username}}</span>
                                        <img class="postimage" src="{{post.imageURL}}"/>
                                        <div class="postcaption" likes="👍 {{post.likes}}" >
                                            {{post.caption}}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="taskstype">General</div>
    <div class="container">
        <div class="row">
            <div class="tasksholder">
                {% for task in generalTasks %}
                    <div class="taskholder mx-auto">
                        <div class="col-md-4">
                            <div class="taskinfoholder">
                                <div class="taskname">
                                    {{task.name}}
                                </div>
                                <div class="taskworthpoint">
                                    {{task.worthPoints}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="taskpostsholder">
                                {% for post in task.posts.all %}
                                    <div class="taskpostholder">
                                        <img src="{{post.author.imageURL}}" class="post-image" />
                                        <span class="post-user">{{post.author.username}}</span>
                                        <img class="postimage" src="{{post.imageURL}}"/>
                                        <div class="postcaption" likes="👍 {{post.likes}}" >
                                            {{post.caption}}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script></script>
{% endblock %}
