{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <script src="{% static 'js/post.js' %}"></script>
    {% endblock %}

{% block body_block %}
<div class="cover"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md" id="left">
      <div class="" id="user">
        
        <!-- Avatar -->
        <div class="text-center">
          <img
            src="{{user.imageURL}}"
            alt=""
            class="profile-pic"
          />
        </div>
        <div class="">
            <!-- User Name -->
          <h4 class="font-weight-bold text-center">{{user.username}}</h4>
          <div class="row">
            <div class="col">
                <!-- Bio -->
              <div class="user-bio text-center">
                {{user.bio}}
              </div>
              <div class="user-badge text-center">
                {{user.badge}}
              </div>
              <div class="user-joined">
                Joined on {{user.joinedOn|date}}
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md">
      <div class="row mt-4">
        <div class="col font-weight-bold text-center mb-3">
          CONTRIBUTION
        </div>
      </div>
      <!-- Contribution -->
      <div class="content text-center mb-5">
        <div class="social-description" id="points">
          <h2>{{user.points}}</h2>
          <p>Points</p>
        </div>
        <div class="social-description" id="rank">
          <h2>#1</h2>
          <p>Rank</p>
        </div>
        <div class="social-description" id="tasks">
          <h2>{{user.tasksCompleted|length}}</h2>
          <p>Tasks Completed</p>
        </div>
      </div>    
    </div>
  </div>
</div>
<hr>
<!---------- posts ------->
<div class="container">
  <div class="row">
      <div class="col-12 col-md-8 mx-auto">
          {% for post in posts %}
              {% include 'post.html' %}
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}