{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <script src="{% static 'js/post.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    {% endblock %}

{% block body_block %}

<div id="change-dp-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="padding: 10px;">
      <span class="modal-header">
          <h3 class="create-post-head">Change DP</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </span>
      <div class="modal-profile">
        <img id="change-profile-image" style="width: 100%;" />
        <input id="change-profile-image-file" accept="image/gif, image/jpeg, image/png" type="file" />
        <button id="change-profile-image-button" class="btn btn-success">Change</button>
      </div>
    </div>
  </div>
</div>

<div id="change-bio-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="padding: 10px;">
      <span class="modal-header">
          <h3 class="create-post-head">Change Bio</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </span>
      <div class="modal-profile">
        <textarea id="change-bio-text" placeholder="A New Bio"></textarea>  <br>
        <button id="change-bio-button" class="btn btn-success">Change</button>
      </div>
    </div>
  </div>
</div>

<div class="cover"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md" id="left">
      <div class="" id="user">
        
        <!-- Avatar -->
        <div class="pic-div
            {% if isLoggedin and user.username == username %} 
                pic-div-editable
            {% endif %}">
            <img
                src="{{user.imageURL}}"
                alt=""
                class="profile-pic"
                id="profile-picture"
            />
            {% if isLoggedin and user.username == username %} 
                <div class="pencil-div">
                    <div class="div">
                        <i class="fa fa-pencil fa-2x pencil" aria-hidden="true"></i>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="profile-details">
            <!-- User Name -->
          <h4 class="font-weight-bold profile-name">{{user.username}}</h4>
          <div class="row">
            <div class="col">
                <div class="user-badge">
                    {{user.badge}}
                </div>
                <div class="user-bio">
                    {{user.bio}}
                </div>
                {% if isLoggedin and user.username == username %} 
                    <button class="btn edit-bio">Edit Bio</button>
                {% endif %}
              <div class="user-joined">
                <i class="fa fa-calendar" aria-hidden="true"></i> Joined {{user.joinedOn|date}}
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md">
      <div class="row mt-4">
        <div class="col contri font-weight-bold text-center mb-3">
          CONTRIBUTION
        </div>
      </div>
      <!-- Contribution -->
      <div class="content text-center mb-5">
        <div class="social-description" id="points">
          <h2>{{points}}</h2>
          <p>Points</p>
        </div>
        <div class="social-description" id="rank">
          <h2>#{{rank}}</h2>
          <p>Rank</p>
        </div>
        <div class="social-description" id="tasks">
          <h2>{{tasksCompleted|length}}</h2>
          <p>Tasks Completed</p>
        </div>
      </div>    
    </div>
  </div>
</div>
<hr>
<!---------- posts ------->
<div class="container">
  <div class="row">
      <div class="col-12 col-md-8 mx-auto">
          {% for post in posts %}
              {% include 'post.html' %}
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}