{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block body_block %}
<div class="cover"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md" id="left">
      <div class="" id="user">
        
        <!-- Avatar -->
        <div class="text-center">
          <img
            src="https://source.unsplash.com/random/200x200"
            alt=""
            class="profile-pic"
          />
        </div>
        <div class="">
            <!-- User Name -->
          <h4 class="font-weight-bold text-center">Your Name</h4>
          <div class="row">
            <div class="col">
                <!-- Bio -->
              <div class=" text-center">
                Lorem ipsum dolor sit amet consectetur
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md">
      <div class="row mt-4">
        <div class="col font-weight-bold text-center mb-3">
          CONTRIBUTION
        </div>
      </div>
      <!-- Contribution -->
      <div class="content text-center mb-5">
        <div class="social-description" id="points">
          <h2>26</h2>
          <p>Points</p>
        </div>
        <div class="social-description" id="rank">
          <h2>48</h2>
          <p>Rank</p>
        </div>
        <div class="social-description" id="tasks">
          <h2>48</h2>
          <p>Tasks Completed</p>
        </div>
      </div>    
    </div>
  </div>
</div>
<hr>
<!---------- posts ------->
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="post">
                <span class="post-profile">
                    <img class="post-profile-img" src="{% static 'images/profile.png' %}" />
                    <div class="post-profile-details">
                        <h4 class="post-profile-details-name">shwetal</h4>
                        <p class="post-profile-details-date">Mar 12, 2021</p>
                    </div>
                </span>
                <div class="post-content">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}