body{
    margin: 0%;
    background-color: rgb(238, 253, 234);
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
   }
   ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 0px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #707070;
   }
   ::-webkit-scrollbar-track{
    background: #00000000;
   }

.icon{
    width: 30px;
    margin-right: 5px;
} 

.navbar-brand{
    font-size: 30px;
    font-weight: 500;
    color: rgb(17, 87, 17);
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}
  
.navbar-toggler:focus, .navbar-toggler:active:focus, .navbar-toggler.active:focus{
    outline:none;
    box-shadow:none;
}

.dp-img{
    width: 30px;
    border-radius: 50%;
}
