@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.hero-text{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
}

.hero-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(.2);
}

.welcome-head{
    font-size: 70px;
    font-weight: 600;
    color: #ECECED;
    margin: 0%;
}

.leaf-icon{
    width: 40px;
}

.welcome-text{
    font-size: 18px;
    color: #cce2cc;
    margin: 1%;
}

.btn-explore{
    font-size: 25px;
    font-family: 600;
    color: #5BB462;
    background-color: transparent;
    border: 2px solid #5BB462;
    padding: 10px 35px;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.btn-explore:hover{
    color: #5BB462;
}

.create-span{
    margin-top: 20px;
}

.btn-new-post{
    border:1px solid rgb(193, 199, 193);
    padding-top: 12px;
    padding-bottom: 12px;
    width: 85%;
    color: rgb(133, 139, 133);
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
}
.create-profile-pic{
    width: 10%;
}

.sec-3{
    position: sticky;
    top: 5%;
}

.trending-tags{
    background-color: #fff;
    border:1px solid rgb(193, 199, 193);
    border-radius: 10px;
    padding: 10px 15px;
    color: rgb(109, 116, 109);
}

.trending-tag-head{
    color: #333333;
}

.week-task-head{
    font-size: 18px;
    font-weight: 600;
    color: #3b3a3a;
    background-image: linear-gradient(
        to right bottom,
        rgba(128, 214, 113, 0.8),
        rgba(53, 175, 16, 0.8)
      );
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
}

.weekly-task{
    top: 5%;
    position: sticky;
    color: #333333;
    background-color: #fff;
    border:1px solid rgb(193, 199, 193);
    border-radius: 10px;
}

.task-details{
    padding: 10px 15px;
}

.profile-div{
    color: #333333;
    background-color: #fff;
    border:1px solid rgb(193, 199, 193);
    border-radius: 15px;
}
.feed-pic{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    transform: translateX(-50%);
}
.pic-div{
    background-image: linear-gradient(
        to right bottom,
        rgba(128, 214, 113, 0.8),
        rgba(53, 175, 16, 0.8)
      );
    height: 60px;
    margin-bottom: 30px;
    border-radius: 15px 15px 0 0 ;
}

.bio{
    font-size: 14px;
    line-height: 20px;
    /* width: 200px; */
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.username{
    margin-bottom: 1%;
    color: #333333;
}
.modal-profile{
    margin-top: 10px;
    margin-left: 15px;
}
.modal-dp{
    width: 30px;
    height: 30px;
}
.modal-profile-name{
    color: #333333;
    font-weight: 600;
    font-size: 18px;
}
.modal-caption{
    margin-left: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
}

textarea {
    width: 80%;
}
.post-image-status{
    margin-left: 15px;
}
textarea:focus{
    border: 1px solid transparent;
    outline: none;
}
#post-image-file{
    margin-left: 20px;
}
label{
    margin-left: 15px;
}
#post-image{
    width: 60%;
    margin-left: 15px;
}
.post-btn{
    margin-left: 15px;
    border: none;
    border-radius: 20px ;
    background-image: linear-gradient(
        to right bottom,
        rgba(128, 214, 113, 0.8),
        rgba(53, 175, 16, 0.8)
      );
    padding: 5px 20px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 600px) {
    .hero-text {
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translate(-10%, -50%);
    }
    .welcome-head{
        font-size: 33px;
        margin-bottom: 20px;
    }
    .welcome-text{
        font-size: 14px;
        color: #fdf0e8;
        font-weight: 300;
    }
    .btn-explore{
        font-size: 18px;
        padding: 10px 25px;
    }
    .leaf-icon{
        width: 20px;
    }
}