@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.hero-text{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
}

.hero-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(.2);
}

.welcome-head{
    font-size: 70px;
    font-weight: 600;
    color: #ECECED;
    margin: 0%;
}

.welcome-text{
    font-size: 18px;
    color: #cce2cc;
    margin: 1%;
}

.btn-explore{
    font-size: 25px;
    font-family: 600;
    color: #5BB462;
    background-color: transparent;
    border: 2px solid #5BB462;
    padding: 10px 35px;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.create-span{
    margin-top: 20px;
}

.btn-new-post{
    border:1px solid rgb(193, 199, 193);
    padding-left: 33%;
    padding-right: 33%;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(133, 139, 133);
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
}
.create-profile-pic{
    width: 8%;
}

.trending-tags{
    background-color: #fff;
    border:1px solid rgb(193, 199, 193);
    border-radius: 10px;
    padding: 10px 15px;
    top: 0;
    position: sticky;
    color: rgb(109, 116, 109);
}

.trending-tag-head{
    color: #333333;
}

.week-task-head{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    background-color: rgb(133, 240, 133);
    padding: 10px 15px;
}

.weekly-task{
    top: 0;
    position: sticky;
    color: rgb(109, 116, 109);
    background-color: #fff;
    border:1px solid rgb(193, 199, 193);
    border-radius: 10px;
}

.task-details{
    padding: 10px 15px;
}

.profile-div{
    color: rgb(109, 116, 109);
    background-color: #fff;
    border:1px solid rgb(193, 199, 193);
    border-radius: 10px;
}
.feed-pic{
    width: 20%;
}
.pic-div{
    background-color: rgb(133, 240, 133);
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .hero-text {
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translate(-10%, -50%);
    }
    .welcome-head{
        font-size: 39px;
        margin-bottom: 20px;
    }
    .welcome-text{
        font-size: 16px;
        color: #fdf0e8;
        font-weight: 400;
    }
    .btn-explore{
        font-size: 18px;
        padding: 10px 25px;
    }
}