@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.landing{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100000;
}

.hero-text{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
}

.hero-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(.2);
}

.welcome-head{
    font-size: 70px;
    font-weight: 600;
    color: #ECECED;
    margin: 0%;
}

.welcome-text{
    font-size: 18px;
    color: #cce2cc;
    margin: 1%;
}

.btn-explore{
    font-size: 25px;
    font-family: 600;
    color: #5BB462;
    background-color: transparent;
    border: 2px solid #5BB462;
    padding: 10px 35px;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-new-post{
    background-color: rgb(197, 247, 200);
    padding-left: 39%;
    padding-right: 39%;
    color: rgb(15, 88, 15);
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .hero-text {
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translate(-10%, -50%);
    }
    .welcome-head{
        font-size: 39px;
        margin-bottom: 20px;
    }
    .welcome-text{
        font-size: 16px;
        color: #fdf0e8;
        font-weight: 400;
    }
    .btn-explore{
        font-size: 18px;
        padding: 10px 25px;
    }
}