.post {
    width: 100%;
    border:1px solid rgb(193, 199, 193);
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 0;
    /* padding-top: 20px; */
    padding-bottom: 20px;
}

.post-header {
    height: 60px;
    padding: 10px;
}

.post-header:hover {
    background-color: #ece8e8;
}

.post-author-image {
    height: 100%;
}

.post-author-name {
    padding: 0 10px;
    font-weight: bold;

}

.post-caption {
    padding: 10px 20px;
}

.post-image {
    width: 100%;
}

.post-datetime {
    color: #777;
}

.post-like{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
}
.post-likes-count{
    font-size: 20px;
}